<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControleurAdminis</servlet-name>
        <servlet-class>controleur.ControleurAdminis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controleur</servlet-name>
        <servlet-class>controleur.Controleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurUfr</servlet-name>
        <servlet-class>controleur.ControleurUfr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurDept</servlet-name>
        <servlet-class>controleur.ControleurDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurFormation</servlet-name>
        <servlet-class>controleur.ControleurFormation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurUtilisateur</servlet-name>
        <servlet-class>controleur.ControleurUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurGestion</servlet-name>
        <servlet-class>controleur.ControleurGestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurSite</servlet-name>
        <servlet-class>controleur.ControleurSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurChambre</servlet-name>
        <servlet-class>controleur.ControleurChambre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurNavette</servlet-name>
        <servlet-class>controleur.ControleurNavette</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleurAdminis</servlet-name>
        <url-pattern>/controleuradminis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controleur</servlet-name>
        <url-pattern>/controleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurUfr</servlet-name>
        <url-pattern>/controleurufr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurDept</servlet-name>
        <url-pattern>/controleurdept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurFormation</servlet-name>
        <url-pattern>/controleurformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurUtilisateur</servlet-name>
        <url-pattern>/controleurutilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurGestion</servlet-name>
        <url-pattern>/controleurgestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurSite</servlet-name>
        <url-pattern>/controleursite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurChambre</servlet-name>
        <url-pattern>/controleurchambre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurNavette</servlet-name>
        <url-pattern>/controleurnavette</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
